
    
{% block body -%}
    <link href="{{asset('css/jbir.css')}}" rel="stylesheet"/>
<div>
    <h1 style="color: #ffffff; font-style: italic;font-family: serif; text-align: center"><strong>Ajouter votre Deal </strong></h1>
    <hr/>
    {{ form(form) }}
</div>
     
{% endblock %}
