{%extends "PrestataireDeServicesprestataireBundle::layout.html.twig"%}
{% block container %}
    <p>{{app.user.id}}</p>
    <p>{{app.user.username}}</p>
    <p>{{app.user.email}}</p>
    
    
    
    {% endblock %}