{% extends "FOSUserBundle::layoutinternaute.html.twig" %}

{% block fos_user_content %}
{% include "UserBundle:Registration:register_content.html.twig" %}
<a href="http://localhost/P/bestdeal/web/app_dev.php/registerPres/">s'insecrire en tant que prestataire de services</a>
{% endblock fos_user_content %}
