body {
    background: no-repeat center center fixed;
  background-image:  url(../img/bg.jpg);
   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

p {
  font-size: 1.25em;
  line-height: 1.6;
  color: #000;
}

hr {
  border-color: #999999;
  max-width: 400px;
}

.brand,
.address-bar {
  display: none;
}


.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
}

.navbar-nav {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.img-full {
  min-width: 100%;
}

.brand-name {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: normal;
}

.tagline-divider {
  margin: 15px auto 3px;
  border-color: #999999;
  max-width: 250px;
}

.box {
  background: #fff;
  background: rgba(255,255,255,0.9);
  margin-bottom: 20px;
  padding: 30px 15px;
}

.intro-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
  font-weight: 400;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

footer {
  background: #fff;
  background: rgba(255,255,255,0.9);
}

footer p {
  margin: 0;
  padding: 50px 0;
}

@media screen and (min-width: 768px) {

.brand {
  display: inherit;
  font-weight: 700;
  font-size: 5em;
  line-height: normal;
  text-align: center;
  margin: 0;
  padding: 30px 0 10px;
  color: #E6E6E6;
  text-shadow: 5px 5px 5px  #333333;
}

.top-divider {
  margin-top: 0;
}

.img-left {
  float: left;
  margin-right: 25px;
}

.address-bar {
  display: inherit;
  text-align: center;
  margin: 0;
  padding: 0 0 40px;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar {
  border-radius: 0;
}

.navbar-header {
  display: none;
}

.navbar {
  min-height: 0;
}

.navbar-default {
  background: #fff;
  background: rgba(255,255,255,0.9);
  border: none;
}

.nav>li>a {
  padding: 35px;
}

.navbar-nav>li>a {
  line-height: normal;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  font-size: 1.25em;
}

}

@media screen and (min-width: 1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

.original_price{
    
    color: #9E9E9E;
    font-size: 17px;
    font-weight: normal;
    padding-left: 5px;
    text-decoration: line-through;   
}

.discount_text{
    color: #ffff;
    font-size: 10px;
}

.col-sm-4 {
    position: relative;
    float:left;
    margin-bottom: 5px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    margin: 4px 6px;
    
    width: 367px;
  /*  z-index: 1; */
    padding-left: 2px;
    padding-right: 2px;
        
  }
  
.shorttitle {
    color: #ff0084;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    overflow: hidden;
    height: 52px;
    padding-left: 23px;
    padding-right: 10px;
    padding-top: 3px;
}

.libelle{
    height: 50px;
    padding: 8px;
}

.divkbira{
    background-color: #FFFFFF;
   left: 176px;
   top: 10px;
   right: 0px;
   padding: 0px;
   height: 600px;
   width: 1000px;
   overflow: scroll;
   border-radius: 6px;
 /*  margin-top: 0px;
   margin-right: auto;
   margin-bottom: 0px;
   margin-left: 0px; */
   position:fixed;
   z-index: 9999;
}

.transparence{
 background-color: silver;
 filter: Alpha(opacity=20);
 -moz-opacity: .20;
 -khtml-opacity: 0.20;
 opacity: .20; 
 width: 100%; 
 z-index: 9999;
}

.item_price {
    color: #ff0084;
    font-size: 17px;
}

.diapo{
    height: 400px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
 height: 275px;
 width: auto;
}

.deal,.deal1{
    float: left;
    width: 50%;
    text-align: left;
    padding-left: 10px;
    }
    
    .deal1{
        padding-top: 14px;
        text-align: right;
        padding-right: 10px;       
    }
    
 /*   .fl{
        
        float: left;
        padding: 0px 0px 10px;
        background: rgba(255,255,255,0.9);
    }
    
    .fl1{
        float: left;
        width: 1030px;
        text-align: center;
        padding-right: 100px;
    }*/
 
 .rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.dealexp{
    
    font-size: 11px;
}

.dealdateexp{    
    color: red;
    font-size: 14px;
  font-weight: bold;
}

.remise{    
    color: #FFFFFF  ;
    background-color: #ff0084;
    padding: 4px;
    font-size: 25px;
  font-weight: bold;
}
/*.intro-text{
    color:#d6006f;
     margin-left: 50px;
}*/
#produit{
    color: plum;
    
}

.dealex,.dealr{
   float: left; 
   width: 50%;
}
.dealtitr{
    color: #ff0084;
    padding: 15px 0;
}
.imgdet{
    float: left;
}
.dealdet,.detdeal{
    float: left;
    padding-left: 12px;
    padding-top: 20px;
    line-height: 2;
    text-align: left;
}
.detdeal{
    float: right;
    padding: 12px 30px;
}
.nbrres{
     float: right;
     text-align: center;
     padding-right: 130px;
}

.dealre{
    float: right;
    margin-right: 120px;
}

.col-lg-102{
    width: 85%;
}
#commentaires{
    float: left;
   padding-left: 210px;
}
li{
    list-style:  none;
    margin-bottom: 30px;
    text-align: left;
    
}
