{%extends "UserBundle::layout.html.twig"%}
{% block container %}
<div class="container">

        <div class="row">
           <div class="box">
              <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Vos Notification
                    </h2>
                    <hr>
                </div>
        </div>
        </div>
     {% for notif in Notifications%}
    <div class="row">
            <div class="box">
                
                <div>
                <div class="col-md-8">
                    <strong> {{notif.message}}</strong>
                </div>
                <div class="col-md-4">
                    <p>Objet: <strong>{{notif.TypeNotification}}</strong>
                    </p>
                    <p>De: <strong>{{notif.IdNotification}}</strong>
                    </p>
                    <p>Date de reception: <strong>{{notif.datenotification}}</strong>
                    </p>
                     <button type="submit" class="btn btn-default">Delete</button>
                     <button type="submit" class="btn btn-default">Answer</button>

                </div>
                </div>
                
                <div class="clearfix"></div>
            </div>
        </div>
     {% endfor %}

   
    
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Contact <strong>form</strong>
                    </h2>
                    <hr>
                    <p>This contact form is just the form elements, it is not a working form. You will have to make the form work by yourself, or take it out if you can't figure out how to make it work.</p>
                    <form role="form">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label>Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Email Address</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-lg-12">
                                <label>Message</label>
                                <textarea class="form-control" rows="6"></textarea>
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="hidden" name="save" value="contact">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
